<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    footer{
      height: 10vh;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      background: linear-gradient(rgba(181, 248, 237, 0.774),rgba(4, 93, 123, 0.899));
    }
  </style>
</head>
<body>
  <footer>
    <a href='whatspp.com'><i class="fa-brands fa-whatsapp"></i> Whatsapp</a>
    <a href='instagram.com'><i class="fa-brands fa-instagram"></i> Instagram</a>
    <a href='tel:+919390124568'><i class="fa-solid fa-phone"></i> +919390124568</a>
      
    <a href='mailto:koyyadaabhiram@gmail.com'><sup>©</sup>CopyRights Owned By : <i class="fa-solid fa-envelope"></i> koyyadaabhiram@gmail.com</a>
  </footer >
</body>
</html>
   
       
